.btn{
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* .si-ba-img{
    background-image: url('../../assets/img/Pi9BhL.jpg');
    background-size: cover;
    height: 100vh;
} */

.signin-btn{
    background-color: transparent;
    border: 3px solid #6cebe9;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #6cebe9;
}

.signin-btn:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
  }