<div class="item">
    <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        width: '430px',
        height: '550px',
        'background-color': '#B4B4B3',
        'border-radius': '10px',
        'animation-duration': '2s'
      }"
    >
    </ngx-skeleton-loader>

    <div style="display: inline-block;">
        <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
          width: '430px',
          height: '50px',
          'background-color': '#B4B4B3',
          'border-radius': '10px',
          'animation-duration': '2s'
        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        width: '430px',
        height: '50px',
        'background-color': '#B4B4B3',
        'border-radius': '10px',
        'animation-duration': '2s'
      }"
    >
    </ngx-skeleton-loader>

    <ngx-skeleton-loader
    count="1"
    appearance="circle"
    [theme]="{
      width: '430px',
      height: '50px',
      'background-color': '#B4B4B3',
      'border-radius': '10px',
      'animation-duration': '2s'
    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
  count="1"
  appearance="circle"
  [theme]="{
    width: '430px',
    height: '50px',
    'background-color': '#B4B4B3',
    'border-radius': '10px',
    'animation-duration': '2s'
  }"
>
</ngx-skeleton-loader>

<ngx-skeleton-loader
count="1"
appearance="circle"
[theme]="{
  width: '430px',
  height: '50px',
  'background-color': '#B4B4B3',
  'border-radius': '10px',
  'animation-duration': '2s'
}"
>
</ngx-skeleton-loader>
    </div>

    <ngx-skeleton-loader
    count="1"
    appearance="circle"
    [theme]="{
      'display': 'block',
      width: '730px',
      height: '65px',
      'background-color': '#B4B4B3',
      'border-radius': '10px',
      'animation-duration': '2s',
      'margin-top': '20px'
    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
  count="1"
  appearance="circle"
  [theme]="{
    'display': 'block',
    width: '430px',
    height: '80px',
    'background-color': '#B4B4B3',
    'border-radius': '10px',
    'animation-duration': '2s',
    'margin-top': '20px'
  }"
>
</ngx-skeleton-loader>

<ngx-skeleton-loader
count="1"
appearance="circle"
[theme]="{
  'display': 'block',
  width: '630px',
  height: '80px',
  'background-color': '#B4B4B3',
  'border-radius': '10px',
  'animation-duration': '2s',
  'margin-top': '20px'
}"
>
</ngx-skeleton-loader>
</div>

  