<div class="item">
    <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        width: '330px',
        height: '450px',
        'background-color': '#B4B4B3',
        'border-radius': '10px',
        'animation-duration': '2s',
        'margin-right': 'auto',
        'margin-left': '35rem'

      }"
    >
    </ngx-skeleton-loader>

    <div style="display: block;">
        <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
          width: '250px',
          height: '50px',
          'background-color': '#B4B4B3',
          'border-radius': '10px',
          'animation-duration': '2s'
        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        'display': 'block',
        width: '200px',
        height: '20px',
        'background-color': '#B4B4B3',
        'border-radius': '10px',
        'animation-duration': '2s'
      }"
    >
    </ngx-skeleton-loader>

    <ngx-skeleton-loader
    count="1"
    appearance="circle"
    [theme]="{
    'display': 'block',
      width: '1030px',
      height: '50px',
      'background-color': '#B4B4B3',
      'border-radius': '10px',
      'animation-duration': '2s',
      'margin-left': '15rem',
    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
  count="1"
  appearance="circle"
  [theme]="{
    'display': 'block',
    width: '530px',
    height: '40px',
    'background-color': '#B4B4B3',
    'border-radius': '10px',
    'animation-duration': '2s',
    'margin-left': '35rem',
    'margin-top': '1rem',
  }"
>
</ngx-skeleton-loader>

<ngx-skeleton-loader
count="1"
appearance="circle"
[theme]="{
  width: '1230px',
  height: '50px',
  'background-color': '#B4B4B3',
  'border-radius': '10px',
  'animation-duration': '2s',
  'margin-left': '10rem',
}"
>
</ngx-skeleton-loader>
    </div>
</div>
