<div class="foot-e-cont">
    <span style="color: #fff; font-family: 'Noto Sans JP', sans-serif; font-size: 2rem;">
        <img src="../../assets/favicon.svg" alt="">
        <strong>Filmlane</strong>
    </span>
    <div style="color: #fff; margin-top: 20px;" class="d-flex justify-content-evenly">
        <div>
            <h3 style="color: #E2D703;">Visit us</h3>
            <p>julioeleven3@gmail.com</p>
            <p>password</p>
        </div>
        <div>
            <h3 style="color: #E2D703;">Call us</h3>
            <p>09-123456789</p>
            <p>09-123456789</p>
            <p>09-123456789</p>
            <p>09-123456789</p>
        </div>
    
        <div>
            <h3 style="color: #E2D703;">Details</h3>
            <!-- <p class="btn-sty btn-hom">HOME</p> -->
            <P class="btn-sty btn-pop">POPULAR</P>
            <P class="btn-sty btn-np">NOW PLAYING</P>
            <P class="btn-sty btn-top">TOP RATED</P>
            <P class="btn-sty btn-up">UPCOMING</P>
        </div>   
        
        <div>
            <h3 style="color: #E2D703;">Follow us</h3>
            <a href="https://www.instagram.com/terms/unblock/?next=/api/v1/web/fxcal/ig_sso_users/" class="connet-logo btn-inst"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/login"class="connet-logo btn-lind"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://support.discord.com/hc/en-us/articles/360057027354-How-to-Login-to-your-Account" class="connet-logo btn-dis"><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/login" class="connet-logo btn-x"><i class="fa-brands fa-square-x-twitter" ></i></a>
        </div>
    </div>
    <p style="color: #E27C2B; text-align: center; font-size: larger;">©2023 Movies.Version 2.0.23</p>
</div>
