.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    transition: var(--transition-2);
    z-index: 4;
    background-color: #171D21;
    height: auto;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
  }

  /************************************** search ***********************************/
  .searchbar{
    border-bottom: #E2D703 2px solid;
  }

  .search_input{
    height: 37px;
    width: 15rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
  }
  .search_input::placeholder{
    color: #fff;
  }

  .search_icon{
    background-color: transparent;
    font-size: larger;
    color: #fff;
  }

    /************************************* content *****************************/
    .container-cont{

    }

      .atag {
        cursor: pointer;
        letter-spacing: 2px;
        position:relative;
        overflow:hidden;
        padding: 20px 20px 8px 20px;;
        text-decoration: none;
        color: #fff;
      }

      .atag:before {
        content: "";
        position: absolute;
        width: 0;
        background : #FF3B1D;
        height: 2px;
        bottom: 0;
        transition: all .4s;
      }

      .atag:hover{
        color: rgb(218, 234, 74); 
        transition:all .3s;
      }

      .btn-hom:hover:before{
        padding-top: -20px;
        width: 58%;
      }
    
      .btn-pop:hover:before{
        width: 65%;
      }
    
      .btn-np:hover:before{
        width: 75%;
      }
    
      .btn-top:hover:before{
        width: 70%;
    
      }
    
      .btn-up:hover:before{
         width: 75%;
      }
      
      p {
          position: absolute;
          bottom: 20px;
          width: 100%;
          text-align: center;
          color: #ecf0f1;
          font-family: 'Cherry Swash',cursive;
          font-size: 16px;
      }
      
      span {
          color: #edf2f4;
      }

      .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        margin-right: -5rem;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }

      .btn-8 {
        background-color: #f0ecfc;
        background: transparent;
        line-height: 42px;
        padding: 0;
        border: 1px solid #E27C2B;

      }
      .btn-8 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-8:before,
      .btn-8:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: #E2D703;
        transition: all 0.3s ease;
      }
      .btn-8:before{
         height: 0%;
         width: 2px;
      }
      .btn-8:after {
        width: 0%;
        height: 2px;
      }
      .btn-8:hover:before {
        height: 100%;
      }
      .btn-8:hover:after {
        width: 100%;
      }
      .btn-8:hover{
        background-image: linear-gradient(315deg, #90e0ef 0%, #00b4d8 74%);
      }
      .btn-8 span:hover{
        color: #faf5f5;
      }
      .btn-8 span:before,
      .btn-8 span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #E2D703;
        transition: all 0.3s ease;
      }
      .btn-8 span:before {
        width: 2px;
        height: 0%;
      }
      .btn-8 span:after {
        height: 2px;
        width: 0%;
      }
      .btn-8 span:hover:before {
        height: 100%;
      }
      .btn-8 span:hover:after {
        width: 100%;
      }
  /* .header.active {
    background: var(--eerie-black);
    padding-block: 20px;
  } */
  
  /* .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
  /* .header-actions { display: none; } */
  
  /* .menu-open-btn {
    color: var(--white);
    font-size: 40px;
  } */
  
  /* .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    background: var(--eerie-black);
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
    transition: 0.15s ease-in;
    visibility: hidden;
    z-index: 3;
  } */
  
  /* .navbar.active {
    right: 0;
    visibility: visible;
    transition: 0.25s ease-out;
  } */
  
  /* .navbar-top {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
  /* .menu-close-btn {
    color: var(--white);
    font-size: 25px;
    padding: 5px;
  } */
  
  /* .menu-close-btn ion-icon { --ionicon-stroke-width: 80px; } */
  
  /* .navbar-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
  } */
  
  /* .navbar-link {
    color: var(--white);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    transition: var(--transition-1);
  } */
  
  /* .navbar-link:is(:hover, :focus) { color: var(--citrine); } */
  
  /* .navbar-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  } */
  
  /* .navbar-social-link {
    font-size: 20px;
    color: var(--white);
    transition: var(--transition-1);
  } */
  
  /* .navbar-social-link:is(:hover, :focus) { color: var(--citrine); } */
  
  /* .overlay {
    position: fixed;
    inset: 0;
    background: hsla(204, 18%, 11%, 0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
  } */
  
  /* .overlay.active {
    opacity: 1;
    pointer-events: all;
  } */