<nav class="header">

    <div class="container navbar">
        <span style="margin-left: -100px; font-family: 'Noto Sans JP', sans-serif; font-size: 2rem;">
            <img src="../../assets/favicon.svg" alt="">
            <strong>Filmlane</strong>
        </span>
        <nav>
            <a class="atag" href="#">Home</a>
            <a class="atag" href="#">Now playing</a>
            <a class="atag" href="#">Popular</a>
            <a class="atag" href="#">Upcoming</a>
            <a class="atag" href="#">Top rated</a>
            <div class="animation start-home"></div>
          </nav>

        <div>
            <div>
              <div class="searchbar">
                <input class="search_input" type="text" name="search" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>

          <button class="custom-btn btn-8" (click)="logout()"><span>Logout</span></button>
    </div>

</nav>
