<div class="item-with-background">
  <ngx-skeleton-loader
    count="6"
    [animation]="animation"
    [theme]="{
        'border-radius': '5px',
        height: '380px',
        width: '230px',
        'background-color': '#B4B4B3',
        border: '1px solid #B4B4B3',
        'animation-duration': '1s',
        'margin-right': '22px',
        'margin-top' : '8rem',
      }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="6"
    [animation]="animation"
    [theme]="{
      'border-radius': '5px',
      height: '380px',
      width: '230px',
      'background-color': '#B4B4B3',
      border: '1px solid #B4B4B3',
      'animation-duration': '1s',
      'margin-right': '22px',
      'margin-top' : '10rem',
    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="6"
    [animation]="animation"
    [theme]="{
    'border-radius': '5px',
    height: '380px',
    width: '230px',
    'background-color': '#B4B4B3',
    border: '1px solid #B4B4B3',
    'animation-duration': '1s',
    'margin-right': '22px',
    'margin-top' : '10rem',
  }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="6"
    [animation]="animation"
    [theme]="{
  'border-radius': '5px',
  height: '380px',
  width: '230px',
  'background-color': '#B4B4B3',
  border: '1px solid #B4B4B3',
  'animation-duration': '1s',
  'margin-right': '22px',
  'margin-top' : '10rem',
}"
  >
  </ngx-skeleton-loader>
</div>
