<section id="slider">
  <input type="radio" name="slider" id="s1" />
  <input type="radio" name="slider" id="s2" />
  <input type="radio" name="slider" id="s3" />
  <input type="radio" name="slider" id="s4" />
  <input type="radio" name="slider" id="s5" />
  <!-- <label for="s1" id="slide1"></label>
  <label for="s2" id="slide2"></label>
  <label for="s3" id="slide3"></label>
  <label for="s4" id="slide4"></label>
  <label for="s5" id="slide5"></label> -->

  <div *ngFor="let movie of popularList">
    <div>
      <img
        [src]="'https://image.tmdb.org/t/p/original' + movie['poster_path']"
        alt="poster"
        class="img"
      />
      <p style="color: #fff; font-family: 'Overpass', sans-serif">
        {{ movie["title"] }}
      </p>
    </div>
  </div>
</section>
