/* navbar */
.hom-back-col{
  background: #1E222B;
  background-size: cover;
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.font-fa{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.string{
  font-family: 'Dongle', sans-serif;
  color: #E2D713; 
  text-align: center;
}

/* id */
/* #po-ba-img{
    background-image: url('../../assets/img/service-bg.jpg');
    background-size: cover;
}

#pl-ba-img{
    background-image: url('../../assets/img/tv-series-bg.jpg');
    background-size: cover;
}

#to-ba-img{
    background-image: url('../../assets/img/top-rated-bg.jpg');
    background-size: cover;
}

#up-ba-img{
    background-image: url('../../assets/img/upcoming-bg.png');
    background-size: cover;
} */

/* class */
/* .ba-img-sa{} */

.scroll {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    height: 440px;
    overflow-x: hidden;
    padding: 1rem;
  }
  
  .img-shown {
    margin-right: 10px;
    border-radius: 2.5%;
    margin-bottom: 7px;
  }

  /* .img-shown:hover{
    border-bottom: #E2D713 dotted 3px;
    transition: all .3s;
    border: #E2D713 2px solid;
  } */

  .scroll {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .scroll::-webkit-scrollbar {
    height: 3px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #a7cf18;
  }

.img{
    border-radius: 2%;
    width: 220px;
    /* height: 330px; */
}



.card{
  height: 410px;
  background: linear-gradient(315deg, #171D21 0%, #1E222B 75%);
  cursor: pointer;
  /* border: #E2D713 2px solid;
  /* padding-top: 1rem; */
}

.card:hover{
  transition:all .5s;
  -webkit-transform: scale(1.1);
	transform: scale(1.03);
}

.card::after{
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background:linear-gradient(var(--angle), 
  #E2D703,  #35f8a7, #E18025);
  animation: rotate 10s linear infinite;
  transition: all .4s;
  border-radius: 5px;
}

@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}


.star-layout{
  margin-left: 10px; 
  margin-top: -10px; 
  width: 50px; 
  height: 20px; 
  background-color: #080202; 
  text-align: center;
}

/* .hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */

