<!-- https://image.tmdb.org/t/p/w220_and_h330_face/ -->
<!-- https://image.tmdb.org/t/p/w500/ -->

<!-- popular movies -->

<div class="card mb-5 ba-img-sa" id="po-ba-img" style="margin-top: 100px; ">
    <div class="body-card">
        <h1 style="color: #EBE76C;" class="p-5">Popular movies:</h1>
        <div class="row">
            <div class="col " *ngFor="let movie of popularList">
                <img [src]=" 'https://image.tmdb.org/t/p/w220_and_h330_face/'+movie ['poster_path']" alt="poster">
                <li style="color: #F8F6F4;">
                    {{ movie ["title"] }}
                </li>
            </div>
        </div>
    </div>
</div>

<!-- playing now movies -->

<div class="card mb-5 ba-img-sa" id="pl-ba-img">
    <div class="body-card">
        <h1 style="color: #EBE76C;" class="p-5">Playing now movies:</h1>
        <div class="row">
            <div class="col " *ngFor="let movie of playingNowList" >
                <img [src]=" 'https://image.tmdb.org/t/p/w220_and_h330_face/'+movie ['poster_path']"  alt="poster">
                <li style="color: #F8F6F4;">
                    {{ movie ["title"] }}
                </li>
            </div>
        </div>
    </div>
</div>

<!-- Top rated movies -->

<div class="card mb-5 ba-img-sa" id="to-ba-img">
    <div class="body-card">
        <h1 style="color: #EBE76C;" class="p-5">Top rated movies:</h1>
        <div class="row">
            <div class="col " *ngFor="let movie of topRatedList">
                <img [src]=" 'https://image.tmdb.org/t/p/w220_and_h330_face/'+movie ['poster_path']"  alt="poster">
                <li style="color: #F8F6F4;">
                    {{ movie ["title"] }}
                </li>
            </div>
        </div>
    </div>
</div>

<!-- up coming movies -->

<div class="card mb-5 ba-img ba-img-sa" id="up-ba-img">
    <div class="body-card">
        <h1 style="color: #EBE76C;" class="p-5">Up comping movies:</h1>
        <div class="row">
            <div class="col " *ngFor="let movie of upComingList">
                <img [src]=" 'https://image.tmdb.org/t/p/w220_and_h330_face/'+movie ['poster_path']"  alt="poster">
                <li style="color: #F8F6F4;">
                    {{ movie ["title"] }}
                </li>
            </div>
        </div>
    </div>
</div>