.onecast-bk{
    background:linear-gradient(hsla(314, 51%, 15%), hsl(201, 37%, 16%));
    background-size: cover;
    /* height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1; */
}

.castimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 50px #000;
}

.castbio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 20px 50px #28041c;
}

/******************************************** cast movies styles *************************************************/
.cast-movie{
    padding: 5rem 6rem 1rem;
    background: #1E222B;
    background-size: cover;
}

.card-con{
    margin-left: 15px;
}

.card{
    width: 220px;
    height: 430px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, hsl(208, 22%, 17%), hsl(221, 40%, 20%));
    cursor: pointer;
}

.card:hover{
    transition:all .5s;
    -webkit-transform: scale(1.1);
      transform: scale(1.03);
  }

.card::after{
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background:linear-gradient(var(--angle), 
    #032146,  #9B59B6, #1ABC9C);
    animation: rotate 10s linear infinite;
    transition: all .4s;
    border-radius: 5px;
  }
  
  @keyframes rotate {
    0%     { --angle: 0deg; }
    100%   { --angle: 360deg;
    }
  }

.poster-img{
    width: 100%;
    height: 330px;
    border-radius: 5px 5px 0px 0px;
}

.rating-cont{
    text-align: center;
    background-color: #000;
    width: 60px;
}

